<link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
<app-login></app-login>
<body>
  <div class="split left">
    <div class="centered">
    
    <img src="../../../assets/finalImage.jpeg">
    
   
    </div>
  </div>
 <div class="container">
   <br>
   <br>
  <h1>Create an account</h1>
  <h5>It's free and always will be.</h5>
  <br>
  <form #userForm="ngForm" name="userForm" id="registrationForm">

  <div class="row">
  <input type="text" placeholder="First name" class="form-control" name="firstname" 
  #firstname="ngModel" [(ngModel)]=registrationObject.firstname required>
  <small class="text-danger" style="color: rgb(233, 14, 14); margin-right: 40%" 
  *ngIf="firstname.invalid && firstname.touched">
    FirstName is required
  </small>&nbsp;&nbsp;&nbsp;
  

  <input type="text" placeholder="Surname" class="form-control" name="surname"
   #surname="ngModel" [(ngModel)]=registrationObject.surname required>
   <small class="text-danger" style="color: rgb(233, 14, 14); margin-left: 50%" 
  *ngIf="surname.invalid && surname.touched" >
    Surname is required
  </small>
  </div>
  <br>
  <input type="email" placeholder="e-mail address" class="form-control" name="email"
   #email="ngModel" [(ngModel)]=registrationObject.email required email>
   <small class="text-danger" style="color: rgb(233, 14, 14);" 
  *ngIf="email.invalid && email.touched" >
    Valid Email is required
  </small>
   

  <br>
  <input type="password" placeholder="New Password" class="form-control" name="password"
   #password="ngModel" [(ngModel)]=registrationObject.password required>
   <small class="text-danger" style="color: rgb(233, 14, 14); " 
  *ngIf="password.invalid && password.touched" >
    Password is required
  </small>

  <br>
  <label>Birthday</label>
  <input type="date" placeholder="Birthday" name="birthday"
   #birthday="ngModel" [(ngModel)]=registrationObject.birthday required>
   <small class="text-danger" style="color: rgb(233, 14, 14); " 
  *ngIf="birthday.invalid && birthday.touched" >
    Birthday is required
  </small>
   <br>
   <br>
  
  <div class="form-check">
    <input class="form-check-input" [(ngModel)]="registrationObject.gender" type="radio" name="gender"
     value="male" required> 
    <label class="form-check-label">Male</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input class="form-check-input" [(ngModel)]="registrationObject.gender" type="radio" name="gender"
     value="female" required> 
    <label class="form-check-label">Female</label>
  </div>
  <br>

  <label>ProfilePicture</label>
  <input type="file" name="profilePictureURL" 
   #profilePictureURL="ngModel" [(ngModel)]=registrationObject.profilePictureURL 
   (change)="previewUpload($event)"
   required/>
   <img *ngIf="isPictureIsSelected" id="photo" name="src" [src]="url" 
   height="150px" width="150px"/>

  <br>
  <button  [disabled]="!userForm.valid" (click)="signUp(email.value)" >Sign Up</button>
  </form>  

</div>

</body>