* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: 'Acme';font-size: 22px;
}

.topnav {
  position: fixed;
  overflow: hidden;
  background-color:  #3B5998;
  height: 80px;
  width: 100%;
}

.topnav  a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  cursor: pointer;
}


.topnav .login-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 35px;
  margin-left: 30px;
  font-size: 17px;
  border: none;
  width:250px;
  
}

.topnav .login-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 25px;
  margin-right: 16px;
  background-color:  rgb(98, 126, 187);
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .login-container button:hover {
  background-color: #3B5998;
}

@media screen and (max-width: 600px) {
  .topnav .login-container {
    float: none;
  }
  
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
.topnav a.active {
   margin-top: 15px;
  margin-left: 30px;
  color: white;
  font-size: 33px;
}
.topnav .button2{
    float: right;
    margin-right: 15px;
    margin-top: 32px;
}
.topnav .search-container button:hover {
    background: #ccc;
  }
  .topnav .search-container button {
    margin-left: 1px;
    padding: 6px 10px;
    margin-top: 8px;
   
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  div.container {
    position: fixed;
    bottom:76%;
    left:32%;
    margin:auto;
    height:60px;
    width:500px;
    border-radius: 5px;
    padding: 25px;
    background: rgba(160, 137, 214, 0.5)
}

a{
    float: left;
    display: block;
    text-align: center;
    padding: 1px 57px;
    text-decoration: none;
    
  }
a:hover {
    cursor: pointer;
  }
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -1px;
  }

  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}


.centered {
    position: fixed;
    top: 35%;
    left: 8%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    
    
}

textarea {
  margin-left: 434px;
  margin-top: 150px;
  height: 100px;
  padding: 12px 32px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  width:500px;
  bottom:78%;
  
}

.container1 {
  margin-left: 437px;
  margin-top: 0px;
  
}

.container2 {
  margin-left: 434px;
  
}
.container4 {
  margin-left: 434px;
  
}
.con {
  resize: none;
}

input[type="text"]
{
  margin-top: 160px;
  margin-left: 435px;
  width: 37%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}