<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
<body>
  <div class="topnav">
    <a class="active"><b>facebook</b></a>
    <button class="button2" routerLink="/registration">Sign Out</button>
    <div class="search-container">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </div>
    
  </div>
  
      <div class="centered">
      <h3>{{userName}}</h3>
      <img src={{profilePictureURL}}>
      </div>
    

  <div class="container">
    <a (click)="navigateToUploadStatusPage()" ><h4>Upload Status</h4></a>
    <a (click)="navigateToUploadPicturePage()"><h4>Upload a photo</h4></a>
  </div>
  

  <form  *ngIf="isUploadStatus" #userForm="ngForm">
    <br>
    <textarea name="statusText" 
    #statusText="ngModel" [(ngModel)]=postItemObj.statusText placeholder="What's in you mind?" 
    required></textarea>
    <br>

    <div class="container2">
    <button [disabled]="!userForm.valid" class="btn btn-success" (click)="uploadStatus()" >Submit</button>&nbsp;
    <button class="btn btn-primary"  (click)="closeStatusTab()" >Cancel</button>
  </div>
    </form>

    
    <form *ngIf = "isUploadPicture" #userForm="ngForm">
        
        <input type=text placeholder="Enter some text" name="statusText" 
        #statusText="ngModel" [(ngModel)]=postItemObj.statusText >
        <br>
        <br>
        <div class="container1">
        <input type="file" name="pictureURL" 
        #pictureURL="ngModel" [(ngModel)]=postItemObj.pictureURL (change)="previewUpload($event)"
        required/>
        
        <img *ngIf="isPictureIsSelected" id="photo" name="src" [src]="url" alt="your image"
         height="200px" width="350px"/> 
        </div>

        <div class="container4">
        <button [disabled]="!userForm.valid" class="btn btn-success" (click)="uploadPicture()" >Submit</button>&nbsp;
        <button class="btn btn-primary" (click)="closePictureTab()" >Cancel</button>
      </div>
    
    </form>

  
  <app-display [isNewPostCreate]="isNewPostCreate"></app-display>
  
</body>