.container {
    margin-left: 434px;
    padding: 12px 32px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    width:500px;
    bottom:78%;
    transition: top 0.3s;
}
.container2 {
    margin-left: 743px;
    
    box-sizing: border-box;
    border: 2px solid #ccc;
    
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    width:200px;
    bottom:78%;
    transition: top 0.3s;
}

.container1 {
    height: 370px;
    padding: 12px 32px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    width:450px;
    bottom:78%;
    transition: top 0.3s;
}
.centered img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}