<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<br>
<br>
<br>
<br>


<div *ngFor="let post of postWithUserDetails">
  <br>
  <div  class="container">
    <div *ngIf="post.users" class="centered"><img src={{post.users.profilePictureURL}}><button *ngIf="post.settings" style="float:right;" (click)="deletePost(post)">Delete</button>{{post.users.firstname}}&nbsp;{{post.users.surname}}<h6 >posted
        on {{post.postTime}}</h6>
    </div>
    <br>
    {{post.statusText}}
    <br>
    <img *ngIf="post.pictureURL" class="container1" src="{{post.pictureURL}}" >
    <br>
    <div>
      <br>
      <button class="glyphicon glyphicon-thumbs-up "  (click)="likedPost(post)" style="position:static;"></button>{{post.likeCount}}&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="glyphicon glyphicon-comment" (click)="toggleCommentTab(post)" style="position:static;"></button>{{post.commentCount}}
      <button style="float: right;" (click)=showAllLikedUsers(post) (click)="toggleLikedUsersTab(post)">All Liked Users</button>
    </div>
    
  </div>
  <div class="container2" *ngIf="showLikedUsersTab[post.id]">
    <ul *ngFor="let users of likedUsers">
      <li><h4>{{users.userName}}</h4></li>
    </ul>
  </div>
  <app-comment id="post.id" *ngIf="show[post.id]" [post]=post (countCommentChanged)="countCommentChangedHandler($event)"></app-comment>
</div>
<br>
