* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: 'Acme';font-size: 22px;
}

.topnav {
  position: fixed;
  overflow: hidden;
  background-color:  #3B5998;
  height: 80px;
  width: 100%;
}

.topnav  a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {

  cursor: pointer;
}


.topnav .login-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 25px;
  font-size: 17px;
  border: none;
  width:120px;
  
}
.topnav input[type=password] {
  padding: 6px;
  margin-top: 25px;
  font-size: 17px;
  border: none;
  width:120px;
  
}

.topnav .login-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 25px;
  margin-right: 16px;
  background-color:  rgb(98, 126, 187);
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .login-container button:hover {
  background-color: #3B5998;
}

@media screen and (max-width: 600px) {
  .topnav .login-container {
    float: none;
  }
  
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
  .topnav input[type=password] {
    border: 1px solid #ccc;  
  }
}
.topnav a.active {
   margin-top: 15px;
  margin-left: 30px;
  color: white;
  font-size: 33px;
}