<link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
<body>
  <div class="topnav">
    <a class="active"><b>facebook</b></a>
    <div class="login-container">
      <form #userForm="ngForm">


        <input type="text" placeholder="E-mail" name="email" 
        #email="ngModel" [(ngModel)]=registrationObj.email required email >&nbsp;
        <small class="text-danger" style="color: rgb(233, 14, 14); " 
        *ngIf="email.invalid && email.touched" >
        Valid email is required
        </small>


        <input type="password" placeholder="Password" name="password"
         #password="ngModel" [(ngModel)]=registrationObj.password required>
         <small class="text-danger" style="color: rgb(233, 14, 14); " 
        *ngIf="password.invalid && password.touched" >
        Password is required
        </small>


        <button type="submit" [disabled]="!userForm.valid" 
        (click)="login(email.value,password.value)">Login</button>


      </form>
    </div>
  </div>
  </body>