/* You can add global styles to this file, and also import other style files */
.post1 .img {
    margin-left: 438px;
    height: 470px;
    padding: 12px 32px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    width:500px;
    bottom:78%;
    transition: top 0.3s;

}