textarea {
    margin-left: 438px;
    margin-top: 50px;
    height: 40px;
    padding: 12px 32px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    width:400px;
    bottom:78%;
    
}

.container {
    margin-left: 438px;
    height: 80px;
    padding: 12px 32px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    width:400px;
    bottom:78%;
}
div {
    margin-left: 437px;
    
}
.centered img {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    
}