<br> 
        <div class="container" *ngFor="let comment of commentsDisplay" >
        <img src={{comment.profilePictureURL}} height="30px" width="30px">{{comment.userName}}<h5>{{comment.text}}</h5>
  </div>
   <form *ngIf=show #userForm="ngForm">
    <textarea name="text"  placeholder="your comment"
    #text="ngModel" [(ngModel)]=commentObj.text  
    required></textarea>
    <br>
    <div>
    <button [disabled]="!userForm.valid" class="btn btn-success" (click)="postComment()" >Submit</button>&nbsp;
    <button class="btn btn-primary" (click)="navigateToHomePage()" >Cancel</button>
    </div>
    </form> 